body {
  text-align: center;
  margin: 0;
  padding: 0;
  background: url("https://res.cloudinary.com/wasimkhan/image/upload/v1600660212/Birthday-card/images_et0lbq.jpg");
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.body {
  position: relative;
  background: url("https://res.cloudinary.com/wasimkhan/image/upload/v1595936068/Birthday-card/giphy_yr6ze6.gif");
  width: 100vw;
  height: 100vh;
  min-height: 680px;
  /* overflow: hidden; */
}

#controls {
  position: absolute;
  right: 15px;
  top: 12px;
}
.card {
  width: 280px;
  height: 380px;
  position: absolute;
  /* margin-top: 100px; */
  /* top: calc(50% - 220px); */
  left: calc(50% - 140px);
  perspective: 700px;
}

.card:hover .front {
  transform: rotateY(-77deg);
}
.card:hover .back {
  transform: rotateY(0deg);
}
.card:hover .face {
  transition: all 0.4s ease-out;
}
.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  backface-visibility: hidden;
  transition: all 0.6s ease-out;
  transform-origin: 0 0;
  border: none;
  box-shadow: none;
}

/* .openCard {
  transform: rotateY(-77deg);
}

.closeCard {
  transform: rotateY(0deg);
} */
.front {
  background: url("https://res.cloudinary.com/wasimkhan/image/upload/v1595905521/Birthday-card/pngtree-birthday-pink-cartoon-lovely-image_43429_jgjl5a.jpg");
  background-size: cover;
  z-index: 2;
}
.back {
  background: url("https://res.cloudinary.com/wasimkhan/image/upload/v1600746368/Birthday-card/IMG_20200922_091405_gpuhfl.jpg");
  background-size: cover;
  z-index: 1;
  font-family: "Special Elite", cursive;
  color: #000;
}
.animation {
  width: 100%;
  height: 100%;
  padding: 130px 10px 0px 10px;
  background: url("https://res.cloudinary.com/wasimkhan/image/upload/v1595935997/Birthday-card/23b8407dfc69fad41eab61025b4111b8_qv3qmb.gif");
}
.back h3 {
  font-size: 26px;
  margin-bottom: 15px;
}
.back p {
  font-size: 18px;
  color: #822659;
  margin-top: 10px;
}
.back span {
  font-size: 20px;
}

#crush {
  position: relative;
  margin-top: 110px;
  margin-left: 0px;
  border-radius: 50%;
  /* -webkit-box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.74);
  box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.74); */
}

.name {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: transparent;
  font-family: "Special Elite", cursive;
  color: rgb(253, 247, 247);
  height: 30px;
}

.name h4 {
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
}
.name a {
  text-decoration: none;
  color: #ff2e63;
}
.name a:hover {
  color: #ff2e63;
  text-decoration: none;
}

.modal-dialog {
  top: 100px;
  text-align: left;
}

.modal-backdrop.show {
  opacity: 0.8;
}
